<p style="color: green"><%= notice %></p>

<%= render @meal %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @meal.meal %></h5>
    <p class="card-text"><%= @meal.date %></p>
    <%= link_to "Edit", edit_meal_path(@meal), class: "btn btn-primary" %>
    <%= button_to "Destroy", @meal,  class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>

<div>
  <%= link_to "Back to meals", meals_path, class: "btn btn-dark" %>
</div>